div.card.mb-0
    div.card-body
        if p.user_id === user.id
            button.btn.close(data-dismiss="modal" aria-label="Close" value="Delete" onclick="apagaPost('" + p._id +"')")
                span(aria-hidden="true") 
                    h3 &times;
        div.clickable(onclick = "location.href = '/post/" + p._id + "/'")
            h3.card-title.mb-1= p.title
            each tag in p.tags
                a(href="/posts/?tag=" + tag)
                    button.btn.btn-xs(style="font-size: 0.8em").py-0.btn-success.mr-1= tag
        hr
        img.rounded-circle.border.float-left.mr-3(src="/ficheiros/" + p.poster.profile_pic, width="50", height="50")
        div
            h5.mb-0
                a(href="/user/" + p.user_id) #{p.poster.full_name}
            p.text-secondary= p.user_id
            p.text-secondary= p.date
        p.mt-3.markdown-content(style="font-size: 1.5em") #{p.content}
        if typeof(p.attachments) !== undefined
            each f in p.attachments
                form(action="/file/" + f.name, method="get")
                    button.btn.btn-xs(type="submit" style="font-size: 0.8em").py-0.btn-light.border-secondary.mr-1.float-left
                        img.ml-0(src="/images/file-icon.png", height="13px")
                        |  #{f.name}
    hr.mb-0.mt-0
    include comment_section